<script>
 
  $(function() {
  return $('#matter_task_assigned_to_user_id').autocomplete({
    minLength: 2,
    source: function(request, response) {
      return $.ajax({
        url: $('.tags_with_autocomplete').data('autocompleteurl'),
        dataType: "json",
        data: {
          name: request.term
        },
        success: function(data) {
          //var jsonObject = $.parseJSON(data); //Only if not already an object
          $.each(data, function (i, obj) {
              //$("#result").html("")
              $("#result").append("<ul><li>"+obj.user_email+"</li></ul>")
          });
        }
      });
    }
  });
  

});
</script
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Task Details</h3>
</div>
<div class="modal-body">
  <div class="row-fluid">
    <div class="span12">
    <%= simple_form_for MatterTask.new do |f| %>
      <div class="form-inputs">
       Task: <%= @task.task%>
      </div>
      <div class="form-inputs">
       <%#= text_field_tag :query,  params[:query],id: "navbar-search-input", class: 'form-control', placeholder: 'Assigned to..'%>
       <%= f.input :assigned_to_user_id, as: :string, input_html: {value: '', class: 'tags_with_autocomplete', 'data-autocompleteUrl' => autocomplete_tag_name_matter_matter_tasks_path
  }%>
      </div>
      <div id="result">
      </div>
      <div class="form-inputs">
       <%= f.input :due_date, autofocus: true, :label=>"Due date" %>
      </div>
      <div class="form-inputs">
       <%= f.input :task_fee_estimate, autofocus: true, :label=>"Task fee estimate" %>
      </div>
      
      <div class="form-actions">
       <%= f.button :submit, "Add Task", :class=>"btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>
</div>


