
<style>
 

</style>
<script>

$(function () {
   $('#matter_task_assigned_to_user_id').tokenInput('/matters/matter_users.json', { 
    crossDomain: false,
    propertyToSearch : "email",
    theme: "facebook",
    tokenLimit: 1
    //prePopulate: $('#matter_task_assigned_to_user_id').data('pre')
  });

});


  
</script>

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Task Details</h3>
</div>
<div class="modal-body">
  <div class="row-fluid">
    <div class="span12">
    <%= simple_form_for MatterTask.new, :url =>  matter_matter_tasks_path(:matter_id => @matter.id, :task_id => @task.id), :method  => :post do |f| %>
      <div class="form-inputs">
       Task: <%= @task.task%>
      </div>
      <div class="form-inputs">
      
      <%= f.input :assigned_to_user_id, :input_html => { :rows => 5 }, "data-pre" => @users.to_json %>
      </div>
      <div id="result" style="overflow:auto;">
      </div>
      <div class="form-inputs">
       <%= f.input :due_date, autofocus: true, :label=>"Due date" %>
      </div>
      <div class="form-inputs">
       <%= f.input :task_fee_estimate, autofocus: true, :label=>"Task fee estimate" %>
      </div>
      
      <div class="form-actions">
       <%= f.button :submit, "Add Task", :class=>"btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>
</div>


