<style>
  #result_lawyer {
position: absolute;
width: 304px;
display: none;
margin-top: -3px;
border: solid 1px #dedede;
border-top: 0px;
overflow: hidden;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
-moz-border-bottom-right-radius: 3px;
-moz-border-bottom-left-radius: 3px;
box-shadow: 0px 2px 0px rgba(0,0,0,0.1);
border-color: #e5e6e9 #dfe0e4 #d0d1d5!important;
border-width: 3px 1px 1px;
background-color: white;
}
.display_box{
    padding:7px;
    border-top: solid 1px #e3e8e8;
    width: 100%!important;
    border-left: none!important;
    margin: 0!important;
    height: 20px;
}
.display_box:hover{
  background-color:#f9f9f9!important;
  cursor:pointer!important;
}
</style>
<% content_for :inlinescript do %>
<script>
 
  $(function() {
  return $('#matter_lawyer_id').autocomplete({
    minLength: 2,
    source: function(request, response) {
      return $.ajax({
        url: $('.lawyer_with_autocomplete').data('autocompleteurl'),
        dataType: "html",
        data: {
          email: request.term
        },
        success: function(data) {
         $("#result_lawyer").html(data).show();
          
        }
      });
    }
  });

   
})
  
</script>
<% end %>
<h2>New Matter</h2>

<%= simple_form_for(@matter) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%#= f.input :lawyer_id, autofocus: true, :label=>"Choose your Lawyer (Enter their name or email address)" %>
    <%= f.input :lawyer_id, as: :string, input_html: {value: '', class: 'lawyer_with_autocomplete', 'data-autocompleteUrl' => autocomplete_lawyer_name_matters_path
  }%>
  </div>

  <div id="result_lawyer" style="overflow:auto;"></div>
  
  <div class="form-inputs">
    <%= f.input :issue, :label=>"Describe the issue" %>
  </div>
  
  <div class="form-inputs">
    <%= f.input :help_asked_by_client, :label=>"Tell your provider exactly how you would like them to help" %>
  </div>
  
  <div class="form-inputs">
    <%= f.input :fee_arrangement_by_client, :as=>"radio_buttons", :collection=>JSON.parse(ENV["FEE_ARRANGEMENT"]), :label=>"Your preferred fee arrangement is" %>
  </div>
  
  <div class="form-inputs">
    <%= f.input :budget, :label=>"Your budget for this matter (optional)" %>
  </div>
  
  <div class="form-inputs">
    <%= f.input :client_reference, :label=>"Your reference (optional - eg: purchase order #" %>
  </div>
  
  <div class="form-inputs">
    <%= f.input :timeframe, :label=>"Timeframe (Remember that it is justifiable for lawyer to charge premium fees on urgent matters)" %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, "Submit" %>
  </div>
<% end %>

<% content_for :inlinescript do %>
<script>
  // $(function() {
  //   $("#matter_lawyer_id").tokenInput("/profiles/search_lawyers.json", {
  //     propertyToSearch : "email_with_name",
  //     crossDomain: false,
  //     prePopulate: $("#matter_lawyer_id").data("load"),
  //     theme: "facebook",
  //     preventDuplicates: false,
  //     tokenValue: "email_with_name",
  //     tokenLimit: 1,
  //     onAdd: function (item) {
  //       $("#matter_lawyer_id").val(item.id);
  //     },
  //     onDelete: function (item) {
  //       $("#matter_lawyer_id").val("");
  //     }
  //  });
  // });
</script>
<% end %>
