
<style>
  #result_user {
position: absolute;
width: 304px;
display: none;
margin-top: -3px;
border: solid 1px #dedede;
border-top: 0px;
overflow: hidden;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
-moz-border-bottom-right-radius: 3px;
-moz-border-bottom-left-radius: 3px;
box-shadow: 0px 2px 0px rgba(0,0,0,0.1);
border-color: #e5e6e9 #dfe0e4 #d0d1d5!important;
border-width: 3px 1px 1px;
background-color: white;
}
.display_box{
    padding:7px;
    border-top: solid 1px #e3e8e8;
    width: 100%!important;
    border-left: none!important;
    margin: 0!important;
    height: 20px;
}
.display_box:hover{
  background-color:#f9f9f9!important;
  cursor:pointer!important;
}
</style>
<% content_for :inlinescript do %>
<script>
 
  $(function() {
  return $('#matter_client_id').autocomplete({
    minLength: 2,
    source: function(request, response) {
      return $.ajax({
        url: $('.users_with_autocomplete').data('autocompleteurl'),
        dataType: "html",
        data: {
          email: request.term
        },
        success: function(data) {
         $("#result_user").html(data).show();
          
        }
      });
    }
  });

   
})
  
</script>
<% end %>
<h2>New Matter</h2>

<%= simple_form_for(@matter) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%#= f.input :client_id, autofocus: true, :label=>"Choose your Client (Enter their name or email address)" %>
    <%= f.input :client_id, as: :string, input_html: {value: '', class: 'users_with_autocomplete', 'data-autocompleteUrl' => autocomplete_user_name_matters_path
  }%>
  </div>
  <div id="result_user" style="overflow:auto;"></div>
  
  <div class="form-inputs">
    <%= f.input :case_type, :as=>"select", :collection=>JSON.parse(ENV["CASE_TYPE"]) %>
  </div>
  
  <div class="form-inputs">
    <%= f.input :issue, :label=>"Describe the issue as conveyed by the client" %>
  </div>
  
  <div class="form-inputs">
    <%= f.input :help_given_by_lawyer, :label=>"Tell your client what you will do for them" %>
  </div>
  
  <div class="form-inputs">
    <%= f.input :fee_arrangement_by_lawyer, :as=>"radio_buttons", :collection=>JSON.parse(ENV["FEE_ARRANGEMENT"]), :label=>"Suggest a fee arrangement is" %>
  </div>
  
  <div class="form-inputs">
    <%= f.input :fee_arrangement_suggestion, :label=>"Explain your suggested fee arrangement" %>
  </div>
  
  <div class="form-inputs">
    <%= f.input :fixed_fee_amount %>
  </div>
  
  <div class="form-inputs">
    <%= f.input :lawyer_reference, :label=>"Your internal reference (optional - eg: Matter code for in house practice management platform)" %>
  </div>
  
  <div class="form-inputs">
    <%= f.input :expected_completion_date %>
  </div>
  
  <div class="form-inputs">
    <%= f.input :bill_frequency, :as=>"radio_buttons", :collection=>JSON.parse(ENV["BILL_FREQUENCY"]), :label=>"How will you bill your client?" %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, "Submit" %>
  </div>
<% end %>

<% content_for :inlinescript do %>
<script>
  // $(function() {
  //   $("#matter_client_id").tokenInput("/profiles/search_clients.json", {
  //     propertyToSearch : "email_with_name",
  //     crossDomain: false,
  //     prePopulate: $("#matter_client_id").data("load"),
  //     theme: "facebook",
  //     preventDuplicates: false,
  //     tokenValue: "email_with_name",
  //     tokenLimit: 1,
  //     onAdd: function (item) {
  //       $("#matter_client_id").val(item.id);
  //     },
  //     onDelete: function (item) {
  //       $("#matter_client_id").val("");
  //     }
  //  });
  // });
</script>
<% end %>
