<h2>Lawyer</h2>
<p><%=@matter.lawyer.first_name%> <%=@matter.lawyer.last_name%></p>

<% if @matter.issue.present? %>
<h2>Issue</h2>
<p><%=@matter.issue%></p>
<% end %>

<% if @matter.help_asked_by_client.present? %>
<h2>Help asked</h2>
<p><%=@matter.help_asked_by_client%></p>
<% end %>
<% if @matter.help_given_by_lawyer.present? %>
<h2>Help given by lawyer</h2>
<p><%=@matter.help_given_by_lawyer%></p>
<% end %>

<% if @matter.fee_arrangement_by_client.present? %>
<h2>Fee arrangement</h2>
<p><%=JSON.parse(ENV["FEE_ARRANGEMENT"])[@matter.fee_arrangement_by_client]%></p>
<% end %>

<% if @matter.fee_arrangement_by_lawyer.present? %>
<h2>Fee arrangement by lawyer</h2>
<p><%=JSON.parse(ENV["FEE_ARRANGEMENT"])[@matter.fee_arrangement_by_lawyer]%></p>
<% end %>
<% if @matter.fee_arrangement_suggestion.present? %>
<h2>Fee arrangement explanation by lawyer</h2>
<p><%=@matter.fee_arrangement_suggestion%></p>
<% end %>


<% if @matter.budget.present? %>
<h2>Budget</h2>
<p><%=@matter.budget%></p>
<% end %>
<% if @matter.fixed_fee_amount.present? %>
<h2>Fixed Fee Amount By Lawyer</h2>
<p><%=@matter.fixed_fee_amount%></p>
<% end %>


<% if @matter.client_reference.present? %>
<h2>Reference</h2>
<p><%=@matter.client_reference%></p>
<% end %>
<% if @matter.lawyer_reference.present? %>
<h2>Lawyer Reference</h2>
<p><%=@matter.lawyer_reference%></p>
<% end %>

<% if @matter.timeframe.present? %>
<h2>Timeframe</h2>
<p><%=@matter.timeframe%></p>
<% end %>
<% if @matter.expected_completion_date.present? %>
<h2>Expected Completion Date</h2>
<p><%=@matter.expected_completion_date%></p>
<% end %>

<% if @matter.bill_frequency.present? %>
<h2>Lawyer billed you</h2>
<p><%=JSON.parse(ENV["BILL_FREQUENCY"])[@matter.bill_frequency]%></p>
<% end %>

<% if @matter.pending_at == "client" and @matter.status == 1 %>
<a href="<%=edit_matter_path(@matter)%>" class="btn btn-primary btn-large">Make Changes</a>
<a href="<%=accept_matter_path(@matter)%>" class="btn btn-success btn-large">Accept</a>
<% else %> 
<div class="alert alert-info">
<%=JSON.parse(ENV["MATTER_STATUS"])[@matter['status']] %>
</div>
<% end %>
